*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: white;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
}

.mt {
  margin-top: 30px;
}

.color-reverse {
  color: white;
}

.color-reverse a {
  color: #afd1f8;
}

.color-reverse a:hover {
  color: #8ebaed;
}

.icon {
  width: 17px;
  text-align: center;
}

.container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "A B"
    "A C";
  grid-template-columns: 3fr 7fr;
  grid-template-rows: auto 1fr;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-container {
  padding: 0 30px 30px;
}

.card-container p {
  margin-bottom: 0.4rem;
}

.card-container h2 {
  margin-top: 1.6rem;
  margin-bottom: 0.4rem;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}


/* Left side */
.side {
  grid-area: A;
  background-color: rgb(46, 68, 154);
}

.photo {
  width: 100%;
  padding: 40px 0;
}

.photo img {
  display: block;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
}

.skill {
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 3px;
  padding: 5px 10px;
  background-color: #222222;
}


/* About */
.header {
  grid-area: B;
  padding-bottom: 30px;
  background: linear-gradient(32deg, rgba(31,29,32,1) 0%, rgba(44,43,45,1) 100%);
}

.position {
  padding: 5px 10px;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
  background-color: rgb(46, 68, 154);
}

.name {
  margin-bottom: 1rem;
  padding-top: 30px;
  font-size: 2.2em;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}

.main {
  grid-area: C;
  line-height: 1.4rem;
}

.year {
  display: block;
  width: fit-content;
  margin: 9px 7px 4px 0;
  padding: 5px 10px;
  font-size: 1.6rem;
  color: white;
  background-color: rgb(46, 68, 154);
}

@media (max-width: 700px) {
  .container {
    grid-template-areas:
      "B B"
      "A C";
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-areas:
      "B B"
      "A A"
      "C C";
  }
}

@media (max-width: 450px) {
  .card-container {
    padding: 0 17px 17px;
  }
}
